<section>
	<h1 class="sliedesHeader">{{header}}</h1>
	<ul class="carousel" data-flickity='{ "resize": true, "wrapAround": true, "pageDots": false  }'>
		{{#slides}}
			{{> slideItem}}
		{{/slides}}
	</ul>
</section>